<!-- <div class="card">
    <div class="image"></div>
    <img src="{{link}}" alt="imagen" class="imageCard">
    <h2 class="movieName">{{name}}</h2>
    <button>Boton</button>
</div> -->
<div class="card-group">
    <div class="card">
        <div class="imgcard">
            <img src="{{link}}" class="card-img" alt="pelicula" />

        </div>

        <div class="card-body">
            <div class="starss">
                <i class="fa-solid fa-star star"></i>
                <p>9.3</p>
                <button class="btn-stars">
                    <i class="fa-regular fa-star starb"></i>
                </button>

            </div>

            <div class="grupsbutton">

                <div class="pelicula">
                    <a href="”#”" class="card-title" title="”titulo">{{name}}</a>
                </div>
                
                <div class="btn-ver">

                    <button class="card-buttonv">
                        <i class="fa-regular fa-plus"></i> Lista de vizualiza..
                    </button>
                    <button class="card-buttont">
                        <i class="fa-solid fa-play"></i> Traíler
                    </button>

                </div>


            </div>


        </div>
    </div>
</div>