.moviesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10PX;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 80%;
}

.next-button{
    background-color: black;
}

.modal-container{
    z-index: 10;
    width: 100%;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}