.moviesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10PX;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    flex-wrap: wrap;
    width: 80%;
}
